<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gadgets</title>
</head>
<body>
<a href="{% url 'staff:home' %}"><- Return</a>
<h1>{{ gadget.name }}</h1>
<h3>{{ gadget.description }}</h3>
<h3>{{ gadget.price }}</h3>

</body>
</html>