<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gadgets</title>
</head>

{% for g in gadgets %}
<a href="{% url 'staff:item' id=g.id %}">{{ g.name }}</a>
<br/>
{% endfor %}
</body>
</html>